.about {
  z-index: 4;

  min-height: 631px;
  margin-top: -21px;

  background-color: #192144;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 207px;
    z-index: 6;

    width: 113px;
    height: 132px;

    background-color: #141b3b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 7;

    width: 292px;
    height: 392px;

    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.about__header {
  padding-top: 100px;
}

@media (min-width: @tablet-width) {
  .about {
    min-height: 920px;
    margin-top: 0;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

    &::before {
      top: 236px;
      right: 40px;
      z-index: 6;

      width: 688px;
      height: 213px;

      border-radius: 20px;
    }

    &::after {
      top: 284px;
      right: 8px;
      z-index: 7;

      width: 376px;
      height: 548px;

      background-image: url("../img/about-tablet@1x.png");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: @desktop-width) {
  .about {
    top: -60px;

    min-height: 810px;

    &::before {
      top: 131px;
      left: 60px;
      z-index: 6;

      width: 213px;
      height: 213px;

      border-radius: 20px;
    }

    &::after {
      top: 145px;
      right: 60px;
      z-index: 7;

      width: 630px;
      height: 665px;

      background-image: url("../img/about-desktop@1x.png");
      background-repeat: no-repeat;
    }
  }
}
