.about {

  background-color: #192144;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    right: 207px;
    z-index: 6;

    width: 113px;
    height: 132px;

    background-color: #141b3b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    width: 100%;
    height: 391px;

    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 18px 38px;
  }
}

.about__header {
  position: relative;
  z-index: 8;

  padding-top: 72px;
  padding-left: 49px;
}

.about__description {
  z-index: 8;

  margin-top: 20px;
  padding: 0 50px;
  padding-right: 61px;
}

.about__pp2 {
  display: none;
}

.about__strong {
  z-index: 8;

  margin-top: 19px;
  padding: 0 50px;
  margin-bottom: 80px;
}

.about__button {
  display: none;
}

.about-under {
  background-color: #edeff6;
}

@media (min-width: @tablet-width) {
  .about {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

    &::before {
      top: 95px;
      right: 40px;
      z-index: 6;

      width: 688px;
      height: 213px;

      border-radius: 20px;
    }

    &::after {
      height: 748px;

      background-image: url("../img/about-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: 384px 143px;
    }
  }

  .about__header {
    padding-top: 149px;
    padding-left: 74px;
  }

  .about__pp1 {
    display: none;
  }

  .about__pp2 {
    display: inline;
  }

  .about__description {
    margin-top: 51px;
    padding: 0 75px;
    padding-right: 391px;
  }

  .about__strong {
    margin-top: 31px;
    margin-bottom: 51px;
    padding: 0 75px;
    padding-right: 391px;
  }

  .about__button {
    display: block;
    margin-bottom: 87px;
    margin-left: 75px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    top: 0;

    min-height: 750px;

    &::before {
      top: 71px;
      left: 60px;
      z-index: 6;

      width: 213px;
      height: 213px;

      border-radius: 20px;
    }

    &::after {
      height: 780px;

      background-image: url("../img/about-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 750px 85px;
    }
  }

  .about__header {
    padding-top: 144px;
    padding-left: 130px;
  }

  .about__pp2 {
    display: none;
  }

  .about__description {
    margin-top: 69px;
    padding: 0 131px;
    padding-right: 691px;
  }

  .about__strong {
    margin-top: 38px;
    padding: 0 131px;
    padding-right: 850px;
  }

  .about__button {
    margin-top: 84px;
    margin-left: 131px;
  }
}
