.page-header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;

  display: flex;
  height: 73px;

  background-color: #161c36;
  transform: translate(-50%, 0);

  &.page-header--scroll {
    position: fixed;

    background-color: #ffffff;
  }

  &.body--nojs {
    position: absolute;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    height: 132px;

    background-color: #182044;
  }
}

@media (min-width: @desktop-width) {
  .page-header,
  .body--nojs .page-header {
    height: 90px;

    background-color: #161c34;
  }
}
